**/*.jpg
**/*.png
**/*.Jpeg
**/*.tif
**/*.csv
**/*.pt
**/*.pth
**/*.npy
**/*.json
**/*.zip
**/bighorn_bighorn sheep_cimarron_Rocky Mountain bighorn_Rocky Mountain sheep_Ovis canadensis
**/dragonfly_darning needle_devil's darning needle_sewing needle_snake feeder_snake doctor_mosquito hawk_skeeter hawk
**/beach wagon_station wagon_wagon_estate car_beach waggon_station waggon_waggon
**/cash machine_cash dispenser_automated teller machine_automatic teller machine_automated teller_automatic teller_ATM
**/__pycache__
